parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    admin_user:        admin
    admin_password:    password

    cache_invalidate_date: 2014-05-28t00:46:27
