{#
 # This file is part of the Parti de Gauche elections data project.
 #
 # The Parti de Gauche elections data project is free software: you can
 # redistribute it and/or modify it under the terms of the GNU Affero General
 # Public License as published by the Free Software Foundation, either
 # version 3 of the License, or (at your option) any later version.
 #
 # The Parti de Gauche elections data project is distributed in the hope
 # that it will be useful, but WITHOUT ANY WARRANTY; without even the
 # implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 # See the GNU Affero General Public License for more details.
 #
 # You should have received a copy of the GNU Affero General Public License
 # along with the Parti de Gauche elections data project.
 # If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends 'PartiDeGaucheElectionsBundle::layout.html.twig' %}

{% block content %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      {% if error %}
        <div>{{ error.message }}</div>
      {% endif %}

      <form action="{{ path('login_check') }}" method="post" class="form">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="_password" class="form-control" />
        </div>
          <input type="hidden" name="_target_path" value="/" />

        <div class="form-group">
          <button type="submit" class="form-control btn btn-primary">Connexion</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
