{#
 # This file is part of the Parti de Gauche elections data project.
 #
 # The Parti de Gauche elections data project is free software: you can
 # redistribute it and/or modify it under the terms of the GNU Affero General
 # Public License as published by the Free Software Foundation, either
 # version 3 of the License, or (at your option) any later version.
 #
 # The Parti de Gauche elections data project is distributed in the hope
 # that it will be useful, but WITHOUT ANY WARRANTY; without even the
 # implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 # See the GNU Affero General Public License for more details.
 #
 # You should have received a copy of the GNU Affero General Public License
 # along with the Parti de Gauche elections data project.
 # If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends 'PartiDeGaucheElectionsBundle::layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% form_theme form 'PartiDeGaucheElectionsBundle:Form:fields.html.twig' %}

{% block content %}
    <div class="row pushBottom">
      <div class="col-md-6 col-md-offset-3 text-center">
          {{ form(form) }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          Ce site a été réalisé par des militants bénévoles du
          <a href="http://www.lepartidegauche.fr">Parti de Gauche</a>.<br/>
          Il permet une visualisation des résultats des dernières échéances
          électorales à différent échelons territoriaux.
        </p>
        <p>
          <a href="https://github.com/LePartiDeGauche">Le code</a> du projet est
          disponible librement en ligne sous licence
          <a href="http://www.gnu.org/licenses/agpl-3.0.fr.html">AGPL 3.0</a>.
        </p>
      </div>
    </div>
{% endblock %}

{% block javascript %}
  <script>
    var selectizeOptions = {
      valueField: 'url',
      searchField: 'nom',
      labelField: 'nom',
      create: function(input, callback) {
        return {
            nom: input,
            url: '{{ path('rechercher') }}/' + input
        };
      },
      load: function(query, callback) {
          if (!query.length) return callback();
          $.ajax({
              url: '{{ path('rechercher_json') }}/' + query,
              type: 'GET',
              dataType: 'json',
              error: function() {
                  callback();
              },
              success: function(res) {
                  callback(res);
              }
          });
      },
      render: {
        option_create: function(item, escape) {
          return '<div class="create">Rechercher "' + item.input + '"</div>';
        }
      },
      maxItems: 1,
      addPrecedence: true,
      dropdownParent: 'body',
      onChange: function(value) {
        window.location.href = value;
      }
    };
    $(function() {
      var $select = $('#form_terme').selectize(selectizeOptions);
      $select[0].selectize.clear();
      $select[0].selectize.clearOptions();

      $('#form_Rechercher').click(function() {
        return false;
      });
    });
  </script>
{% endblock %}
